<template name="transactionModalForm">
    <div class="modal fade" id="add-transaction-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New transaction</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="0.00" id="transaction-balance" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="Описание" id="transaction-desc" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <select name="" id="transaction-category" class="form-control">
                                {{#each categories}}
                                    <option value="{{_id}}">{{title}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="" id="transaction-currency" class="form-control">
                                {{#each currencies}}
                                    <option value="{{_id}}">{{caption}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" id="transaction-date" class="datepicker form-control" placeholder="Дата события" />
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="add-transaction-btn" class="btn btn-primary">Ok</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>